<h1>Editing Volunteer Organization</h1>

<%= render 'form', volunteer_organization: @volunteer_organization %>

<%= link_to 'Show', @volunteer_organization %> |
<%= link_to 'Back', volunteer_organizations_path %>
