<h1>Editing Scrape Recruitment Info</h1>

<%= render 'form', scrape_recruitment_info: @scrape_recruitment_info %>

<%= link_to 'Show', @scrape_recruitment_info %> |
<%= link_to 'Back', scrape_recruitment_infos_path %>
