<header>
    <nav>
        <ul>
            <li class="header_list"><%= link_to 'ホーム', top_path %></li>
            <li class="header_list"><%= link_to '加盟団体の求人一覧', root_path %></li>
            <li class="header_list"><%= link_to '新規団体登録', new_volunteer_organization_path %></li>
            <li class="header_list"><%= link_to '加盟団体一覧', volunteer_organizations_path %></li>
        </ul>
    </nav>
</header>


